<launch>

  <arg name="rviz" default="true" />

<!--   <include file="$(find hector_laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_shadow_filtered.launch" >  
  </include> -->


<!--   <node pkg="loam_continuous" type="scanRegistration" name="scanRegistration" output="screen">
  	<remap from="/sync_scan_cloud_filtered" to="/scan" />
  	<remap from="/microstrain/imu" to="/imu/data" />	
  </node> -->

  <node pkg="loam_continuous" type="repub_velodyne" name="repub_velodyne" output="screen" />

  <node pkg="loam_continuous" type="laserOdometry" name="laserOdometry" output="screen"/>
  <node pkg="loam_continuous" type="laserMapping" name="laserMapping" output="screen"/>
  <node pkg="loam_continuous" type="transformMaintenance" name="transformMaintenance" output="screen"/>

<!--   <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_continuous)/rviz_cfg/loam_continuous.vcg"/>
  </group> -->
  <node pkg="tf" type="static_transform_publisher" name="laser_baselink" args="0.18 0 0 0 0 0 base_link camera 100" />

</launch>
